*{padding: 0%;
margin: 0;
/* border: dotted 1px; */
}
body{ 
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
background-image: linear-gradient(rgba(23, 46, 253, 0.767), rgb(202, 39, 39))

}

header{
    display: flex;
    justify-content: space-around;
}
#flexfix{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40%;
    width: 100%;
}

 #container{
     /* position:absolute; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-self:center;
     width: 50%;
     flex-direction: column;
    color: rgb(0, 16, 78);


}
#header{
    font-weight: bolder;
    font-size: 40px;
}
p{
    font-size: 26px;
}
button{
    background-color: rgb(26, 110, 194);
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    margin: 1px;
}
input{
    transform: scale(1.15);
    width: 45%;
    margin-left: 15px;
    margin-bottom: 3px;
    padding: 1px;

}
#tablePlace{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
#score,#timer{
font-size: 24px;
font-weight:200;
color: rgb(223, 3, 3);
}